$admin-menu-width: 200px;

.adminMenu {
  padding: 20px 0px;
  background: #202224;
  overflow: hidden;
  display: inline-block;
  width: $admin-menu-width;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  font-size: 1em;
  ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
  }
  a {
    color: #fff;
    display: block;
    padding: 10px 30px;
    text-decoration: none;
    transition: background 0.25s ease-in;
    transition: background 0.25s ease-in;
    transition: background 0.25s ease-in;
    &.active, &:hover {
      background: #666;
    }
  }
  #accountMenu {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: #ccc;
    width: 100%;
    padding: 0px;
    vertical-align: middle;
  }
  span {
    display: inline-block;
    padding: 10px;
  }
  .logout {
    padding: 10px;
    display: inline-block;
    float: right;
  }
}

#adminOutlet {
  width: calc(100% - #{$admin-menu-width});
  height: 100%;
  right: 0px;
  position: fixed;
  padding: 50px;
  overflow-y: scroll;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  thead {
    background: #ccc;
    border-bottom: 1px solid #ccc;
  }
  th, td {
    padding: 10px;
    margin: 0px;
    border-bottom: 1px solid #ccc;
    &:last-child {
      text-align: right;
    }
    &.noPosts {
      text-align: center;
    }
    &.type {
      text-transform: capitalize;
    }
  }
}
.adminTitle {
  vertical-align: middle;
  display: inline-block;
}

.adminActions {
  display: inline-block;
  float: right;
  margin-bottom: 20px;
  text-align: right;
}

.btn {
  display: inline-block;
  padding: 15px 20px;
  background: #666;
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
  border: none;
  outline: none;
  &.primary {
    background: #22a2e9;
  }
  &.success {
    background: #5cb85c;
  }
  &.warning {
    background: #f0ad4e;
  }
  &.error {
    background: #d9534f;
  }
}

form {
  width: 100%;
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }
}