<nav id="mainmenu">
  <div class="container">
    <div class="logo">
      {{#link-to 'index'}}
        <img src="assets/images/logo-womenandtech.png" alt="">
      {{/link-to}}
    </div>
    <ul>
      <li>
        {{link-to 'Interviews' 'posts'}}
      </li>
    </ul>
  </div>
</nav>