<ul id="category-category">
  {{editor-submenu-component}}
  <li>
    <img src="cover-11.png" alt="">
    <span class="component-title">
      cover-2
    </span>
  </li>
  <li>
    <img src="cover-1.jpg" alt="">
    <span class="component-title">
      cover-3
    </span>
  </li>
  <li>
    <img src="cover-11.png" alt="">
    <span class="component-title">
      cover-3
    </span>
  </li>
  <li>
    <img src="cover-11.png" alt="">
    <span class="component-title">
      cover-4
    </span>
  </li>
  <li>
    <img src="cover-11.png" alt="">
    <span class="component-title">
      cover-5
    </span>
  </li>
  <li>
    <img src="cover-11.png" alt="">
    <span class="component-title">
      cover-6
    </span>
  </li>
  <li>
    <img src="cover-11.png" alt="">
    <span class="component-title">
      cover-7
    </span>
  </li>
  <li>
    <img src="cover-11.png" alt="">
    <span class="component-title">
      cover-8
    </span>
  </li>
  <li>
    <img src="cover-11.png" alt="">
    <span class="component-title">
      cover-9
    </span>
  </li>
  <li>
    <img src="cover-1.jpg" alt="">
    <span class="component-title">
      cover-10
    </span>
  </li>
</ul>

<ul id="image-image">
  <li>
    <img src="cover-1.jpg" alt="">
    <span class="component-title">
      image-1
    </span>
  </li>
  <li>
    <img src="cover-1.jpg" alt="">
    <span class="component-title">
      image-2
    </span>
  </li>
  <li>
    <img src="cover-1.jpg" alt="">
    <span class="component-title">
      image-3
    </span>
  </li>
  <li>
    <img src="cover-1.jpg" alt="">
    <span class="component-title">
      image-4
    </span>
  </li>
  <li>
    <img src="cover-1.jpg" alt="">
    <span class="component-title">
      image-5
    </span>
  </li>
  <li>
    <img src="cover-1.jpg" alt="">
    <span class="component-title">
      image-6
    </span>
  </li>
  <li>
    <img src="cover-1.jpg" alt="">
    <span class="component-title">
      image-7
    </span>
  </li>
  <li>
    <img src="cover-1.jpg" alt="">
    <span class="component-title">
      image-8
    </span>
  </li>
  <li>
    <img src="cover-1.jpg" alt="">
    <span class="component-title">
      image-9
    </span>
  </li>
  <li>
    <img src="cover-1.jpg" alt="">
    <span class="component-title">
      image-10
    </span>
  </li>
  <li>
    <img src="cover-11.png" alt="">
    <span class="component-title">
      cover-1
    </span>
  </li>
</ul>