<ul>
  <li>
    <img src="cover-1.jpg" alt="">
  </li>
  <li>
    <img src="cover-1.jpg" alt="">
  </li>
  <li>
    <img src="cover-1.jpg" alt="">
  </li>
  <li>
    <img src="cover-1.jpg" alt="">
  </li>
  <li>
    <img src="cover-1.jpg" alt="">
  </li>
  <li>
    <img src="cover-1.jpg" alt="">
  </li>
  <li>
    <img src="cover-1.jpg" alt="">
  </li>
  <li>
    <img src="cover-1.jpg" alt="">
  </li>
  <li>
    <img src="cover-1.jpg" alt="">
  </li>
  <li>
    <img src="cover-1.jpg" alt="">
  </li>
  <li>
    <img src="cover-11.jpg" alt="">
  </li>
</ul>