<div class="container"> 
  <h1>Posts</h1>

  <ol class="archives">
    {{#each model as |post|}}
      <li>
        <div class="thumbnail">
          <img src="cover-1.jpg" alt="">  
        </div>
        <div class="details">
          <h2>{{link-to post.title 'posts.show' post.id}}</h2>
        </div>
      </li>
    {{/each}}
  </ol>
</div>