<ul>
  <li>
    {{link-to 'All Posts' 'admin.posts'}}
  </li>
  <li>
    {{link-to 'Interviews' 'admin.interviews'}}
  </li>
  <li>
    {{link-to 'Users' 'admin.users'}}
  </li>
  <li>
    {{link-to 'Settings' 'admin.settings'}}
  </li>
</ul>